#head {
  text-align: center;
}

#app1 {
  border:1px solid #eee;
    position:fixed;
    top:100px;
    left:550px;
    width:300px;
    font-size:25px;
    height:75px;
    padding:25px;
    text-align:center;
    box-shadow:5px 5px 5px #ccc;
}

#app2 {
 border:1px solid #eee;
    position:fixed;
    top:300px;
    left:550px;
    width:300px;
    font-size:25px;
    height:75px;
    padding:25px;
    text-align:center;
    box-shadow:5px 5px 5px #ccc;
}
